@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  display: none;
}

/* Optional: Add this to also remove scrollbar on mobile (for touch devices) */
html, body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}


@layer base{
  
:root {
  --background: 27 27 27;
  --foreground: 225 225 225;
  --muted: 115 115 115;
  --accent: 254 254 91;/*  #FEFE5B */
 }
}

 

@layer utilities {
  
}
